@model EnvApp.Models.DB.Project_Screen

@{
    ViewData["Title"] = "Create";
}

<h1>Enter a new project screening form</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">State Project Number</label>
                    <input asp-for="State_Project_Number" class="form-control" placeholder="S314-50-31.02" />
                    <span asp-validation-for="State_Project_Number" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Federal Project Number</label>
                    <input asp-for="Federal_Project_Number" class="form-control" placeholder="STP-0050(350)D" />
                    <span asp-validation-for="Federal_Project_Number" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Project Name</label>
                    <input asp-for="Project_Name" class="form-control" placeholder="Capon Bridge" />
                    <span asp-validation-for="Project_Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="County" class="control-label"></label>
                    <select asp-for="County" name="County" class="form-control" asp-items="@ViewBag.counties"></select>
                    <span asp-validation-for="County" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Memo Date</label>
                    <input asp-for="Memo_Date" class="form-control" type="date" />
                    <span asp-validation-for="Memo_Date" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="From" class="control-label"></label>
                    <input asp-for="From" class="form-control" placeholder="DDR- Chad Lowther" />
                    <span asp-validation-for="From" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label asp-for="Authorization" class="control-label"></label>
                    <input asp-for="Authorization" class="form-control" placeholder="0060  TE2313G 111-N"/>
                    <span asp-validation-for="Authorization" class="text-danger"></span>
                </div>
            </div>

           <hr />

            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">USFWS Coordination Needed</label>
                    <select asp-for="USFWS" name="USFWS" class="form-control" asp-items="@ViewBag.options"></select>
                    <span asp-validation-for="USFWS" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8" id="usfwsType">
                    <label class="control-label">USFWS Coordination Type</label>
                    <textarea asp-for="USFWS_Type" class="form-control"></textarea>
                    <span asp-validation-for="USFWS_Type" class="text-danger"></span>
                </div>
            </div>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#usfwsType').hide();
                    $('#USFWS').change(function () {
                        var selectedValue = $(this).val();
                        console.log(selectedValue);
                        if (selectedValue == "True") {
                            $('#usfwsType').show();
                        }
                        else {
                            $('#usfwsType').hide();
                        }
                    });
                });
            </script>

            <hr />

            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Crayfish Survey Needed</label>
                    <select asp-for="Crayfish" name="Crayfish" class="form-control" asp-items="@ViewBag.options"></select>
                    <span asp-validation-for="Crayfish" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Crayfish Habitat Assessment</label>
                    <select asp-for="Crayfish_Habitat_Assessment" name="Crayfish" class="form-control" asp-items="@ViewBag.options"></select>
                    <span asp-validation-for="Crayfish_Habitat_Assessment" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Section 7 ESA Determination Key</label>
                    <select asp-for="ESA_Key" name="ESA_Key" class="form-control" asp-items="@ViewBag.options"></select>
                    <span asp-validation-for="ESA_Key" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Mussel Survey Needed</label>
                    <select asp-for="Mussel_Stream" name="Mussel_Stream" class="form-control" asp-items="@ViewBag.options"></select>
                    <span asp-validation-for="Mussel_Stream" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">Mussel Habitat</label>
                    <select asp-for="Mussel_Habitat" name="Mussel_Habitat" class="form-control" asp-items="@ViewBag.options"></select>
                    <span asp-validation-for="Mussel_Habitat" class="text-danger"></span>
                </div>
                <div class="form-group col-md-4">
                    <label class="control-label">NLEB 4D</label>
                    <select asp-for="NLEB_4D" name="NLEB_4D" class="form-control" asp-items="@ViewBag.options"></select>
                    <span asp-validation-for="NLEB_4D" class="text-danger"></span>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <label class="control-label">Bat Habitat Assessment Needed</label>
                    <select asp-for="Bat_Habitat" name="Bat_Habitat" class="form-control" asp-items="@ViewBag.options"></select>
                    <span asp-validation-for="Bat_Habitat" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">ToPo Quad Name</label>
                    <input asp-for="ToPo_Quad_Name" class="form-control" placeholder="Capon Bridge" />
                    <span asp-validation-for="ToPo_Quad_Name" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Bars ID #</label>
                    <input asp-for="Bars" class="form-control" placeholder="14A054" />
                    <span asp-validation-for="Bars" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <label class="control-label">Within 2 miles of an Airport</label>
                    <input asp-for="Within_Airport" class="form-control" placeholder="Yeager Airport" />
                    <span asp-validation-for="Within_Airport" class="text-danger"></span>
                    <p>If not then write 'No'.</p>
                </div>
            </div>


            <hr />

            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Coordinates</label>
                    <input asp-for="Coordinates" class="form-control" placeholder="38.3498° N, 81.6326° W" />
                    <span asp-validation-for="Coordinates" class="text-danger"></span>
                </div>
                <div class="form-group col-md-8">
                    <label class="control-label">Natural Resources Notes</label>
                    <textarea asp-for="Natural_Resources_Notes" class="form-control"></textarea>
                    <span asp-validation-for="Natural_Resources_Notes" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
