@model EnvApp.Models.DB.Project_Screen

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project_Screen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.State_Project_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.State_Project_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Federal_Project_Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Federal_Project_Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Project_Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Project_Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.County)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.County)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Memo_Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Memo_Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.From)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.From)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Authorization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Authorization)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DSN_PM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DSN_PM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.History)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.History)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.History_PM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.History_PM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Review_Exempt_H)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Review_Exempt_H)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SHPO_Approval_H)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SHPO_Approval_H)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Archaeology)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Archaeology)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Archaeology_PM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Archaeology_PM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Review_Exempt_A)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Review_Exempt_A)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SHPO_Approval_A)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SHPO_Approval_A)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ESA_Key)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ESA_Key)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Crayfish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Crayfish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NLEB_4D)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NLEB_4D)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.USFWS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.USFWS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mussel_Habitat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mussel_Habitat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bat_Habitat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bat_Habitat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adduser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adduser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date_Added)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date_Added)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
