@model IEnumerable<EnvApp.Models.DB.Project_Screen>

@{
    ViewData["Title"] = "Index";
}

<h1>Screening Forms</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input type="submit" value="Search" class="btn btn-default" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ProjNumSort"]">State Project Number</a>
            </th>
            <th>
                Federal Project Number
            </th>
            <th>
                Project Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.County)
            </th>
          
            <th>
                DSN PM
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.State_Project_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Federal_Project_Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.County)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.DSN_PM)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
